<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<body data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="">
  <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BETTER BITE DENTAL SYSTEM</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button type="button" class="btn bg-transparent text-white" (click)="signout()">Sign out</button>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <button class="btn bg-transparent text-primary" (click)="showService()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-layers">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                Services
              </button>
            </li>

            <li class="nav-item">
              <button class="btn bg-transparent text-primary" (click)="showTreatments()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-plus-circle">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                Treatment
              </button>
            </li>

            <li class="nav-item">
              <button class="btn bg-transparent text-primary" (click)="showSched()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-file">
                  <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                  <polyline points="13 2 13 9 20 9"></polyline>
                </svg>
                Dentist's Schedule
              </button>
            </li>

            <li class="nav-item">
              <button class="btn bg-transparent text-primary" (click)="showAppointments()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-file">
                  <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                  <polyline points="13 2 13 9 20 9"></polyline>
                </svg>
                Appointments
              </button>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor"
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">USER</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        
        <div *ngIf="!showSchedule">
          <h1 class="text-center">Dentist's Schedule</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">DAY</th>
                <th scope="col">DATE</th>
                <th scope="col">START</th>
                <th scope="col">END</th>
                <th scope="col">AVAILABILTY</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>

        <!-- --------------------------------------------------------------------------- -->
        <div *ngIf="!showAppointment">
          <h2 class="text-center">Appointments</h2><br>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Dental Codes</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Prescription</th>
                  <th>Day</th>
                  <th>Date</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>cleaning</td>
                  <td>monday</td>
                  <td>jun 27, 2021</td>
                  <td>1:00</td>
                  <td>2:00</td>
                  <td>accepted</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>cleaning</td>
                  <td>monday</td>
                  <td>jun 27, 2021</td>
                  <td>1:00</td>
                  <td>2:00</td>
                  <td>accepted</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>cleaning</td>
                  <td>monday</td>
                  <td>jun 27, 2021</td>
                  <td>1:00</td>
                  <td>2:00</td>
                  <td>accepted</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cleaning</td>
                  <td>monday</td>
                  <td>jun 27, 2021</td>
                  <td>1:00</td>
                  <td>2:00</td>
                  <td>accepted</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>cleaning</td>
                  <td>monday</td>
                  <td>jun 27, 2021</td>
                  <td>1:00</td>
                  <td>2:00</td>
                  <td>accepted</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>cleaning</td>
                  <td>monday</td>
                  <td>jun 27, 2021</td>
                  <td>1:00</td>
                  <td>2:00</td>
                  <td>accepted</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="!showServices">
          <h2 class="text-center">Services</h2>
          <button type="button" class="btn btn-outline-primary mr-5">Add service</button><br><br>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Service Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>image!!</td>
                  <td>Lorem</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="!showTreatment">
          <h2 class="text-center">Treatment</h2>
          <button type="button" class="btn btn-outline-primary mr-5">Add Treatment</button><br><br>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Treatment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>image!!</td>
                  <td>Lorem</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br><br><br><br><br>
      </main>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
